.tabbable {
    border: 0;
}
.tabbable .panel-heading {
    padding: 0 !important;
    border: 0 !important;
    background-color: transparent !important;
}
.tabbable .panel-body {
    border: 1px solid #dddddd;
}
.tabbable .panel-heading > ul > li > a{
    color: #777;
    border-color: #ddd;
    margin-right: 0;
    border-radius: 0;
}
.tabbable .panel-heading > ul > li {
    background-color: whitesmoke;
}

.tabbable ul.nav-tabs > li >a {
    border-right: 0 !important;
}

.tabbable ul.nav-tabs > li:last-child > a {
    border-right: 1px solid #ddd !important;
}