.right-border{
    border-right:1px solid #dedede;
}

.padding40{
    padding:40px;
}

@media (max-width: 768px) {
    .right-border {
        border-bottom: 1px solid #dedede;
        border-right: none;
    }
    .padding40 {
        padding: 0px;
    }
    .btn-full-xs{
        width:100%
    }
}

.custom-file-input {
    position: absolute !important;
    top: -9999999;
    filter: alpha(opacity=0);
    opacity: 0;
    width: 0;
    height: 0;
    outline: none;
    cursor: inherit;
}